<div *ngIf="selectedProduct"
     (@showProductLinkState.start)="logAnimationInfo($event)"
     (@showProductLinkState.done)="logAnimationInfo($event)"
     [@showProductLinkState]="selectedProduct?'expanded':'collapsed'"
    class="showMeLink"
>
  <h2 (click)="gotoDetail(selectedProduct)">
    Show me {{selectedProduct.name | uppercase}}
    <span *ngIf="selectedProduct.variant">({{selectedProduct.variant}})</span>
    ==>
  </h2>

</div>

<ul class="product-list">
  <li *ngFor="let product of products" (click)="onSelect(product);"
      (@productActiveState.start)="logAnimationInfo($event)"
      (@productActiveState.done)="logAnimationInfo($event)"
      [@productActiveState]="product==selectedProduct?'active':'inactive'"
      [class.selected]="product==selectedProduct">
    <button class="edit" *ngIf="product==selectedProduct" (click)="edit(product); $event.stopPropagation()">edit</button>
    <span class="product-id">{{product.id}}</span>
    <span class="product-sku">{{product.sku}}</span>

    <span class="product-name" >
			<span>{{product.name}}</span>
			<span *ngIf="product.variant">({{product.variant}})</span>

      <button class="delete" *ngIf="product==selectedProduct" (click)="delete(product); $event.stopPropagation()">x</button>
		 </span>
  </li>

  <li (click)="toggleAddProductForm()">
   Add New Product

  </li>

</ul>



<!--
<product-detail [product]="selectedProduct"></product-detail>
-->



<!-- TODO: properly combine this with product-editor -->
<div class="product-editor"
     (@addProductFormState.start)="logAnimationInfo($event)"
     (@addProductFormState.done)="logAnimationInfo($event)"
     [@addProductFormState]="selectedProduct?'collapsed':'expanded'" >
  <div class="editor-row">
    <div class="editor-item">
      <label>sku:</label>
      <input #productSku placeholder="sku" />
    </div>
  </div>
  <div class="editor-row">

    <div class="editor-item">
      <label>price:</label>
      <input #productPrice placeholder="price" />
    </div>

    <div class="editor-item">
      <label>currency:</label>
      <input #productCurrency placeholder="currency" />
    </div>

    <div class="editor-item">
      <label>availability:</label>
      <input #productAvailability placeholder="availability" />
    </div>
  </div>
  <div class="editor-row">
    <div class="editor-item">
      <label>name:</label>
      <input #productName placeholder="name" />
    </div>

    <div class="editor-item">
      <label>variant:</label>
      <input #productVariant placeholder="name" />
    </div>
  </div>
  <div>
    <label>description</label>
    <textarea #productDescription placeholder="description" ></textarea>
  </div>
  <div>
    <label>disclaimer</label>
    <textarea #productDisclaimer placeholder="disclaimer" ></textarea>
  </div>
  <button (click)="add(productSku.value,
                    productName.value,
                    productVariant.value,
                    productDescription.value,
                    productPrice.value,
                    productCurrency.value,
                    productAvailability.value,
                    productDisclaimer.value)">Save</button>
</div>


