.product-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 40em;
}
.product-list .product-id {
  width: 2em;
  display: inline-block;
}
.product-list .product-sku {
  width: 8em;
  display: inline-block;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.product-list li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #AEE;
  margin: .5em;
  padding: .2em .5em .2em .5em;
  height: 1.6em;
  border-radius: 4px;
}
.product-list li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.product-list li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
  font-weight: bold;
}
.product-list .product-name, .product-list .product-id, .product-list .product-sku  {
  position: relative;
  top: 3px;
}
button.delete {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
}
h2 {
  cursor: pointer;
}
h2:hover {
  color: #607D8B;
}
