.product-list {
  margin: 0 0 2em 2em;
  list-style-type: none;
  padding: 0;
  width: 50em;
}
.product-list .product-id {
  width: 2em;
  display: inline-block;
}
.product-list .product-sku {
  width: 8em;
  display: inline-block;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.product-list li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #AEE;
  margin: .5em;
  padding: .2em .5em .2em .5em;
  height: 3.0em;
  border-radius: 4px;
}
.product-list li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.product-list li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
  font-weight: bold;
}
.product-list .product-name, .product-list .product-id, .product-list .product-sku  {
  position: relative;
  top: 3px;
}

h2 {
  cursor: pointer;
  width: 45em;
}
h2:hover {
  color: #607D8B;
}
.product-list button.btn {
  min-width:32px;
  max-width:32px;
  text-align: center;
  padding-left:0px; padding-right: 0px;
}
.product-list button.details{
  min-width:80px;
  max-width:80px;
  width: 80px;
}
.product-list button.delete, .product-list button.edit {
  float:right;
}
