.idea/angular-tutorial-main.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
jzb-store/npm-debug.log
jzb-store/src/.idea/workspace.xml
*.js.map
jzb-store/angular2-client/src/app/**/*.js
