<button (click)="goBack()">Back</button>
<div class="product-details" *ngIf="product && !edit">
  <img *ngIf="product.imgUrl" src="{{product.imgUrl}}"
       [@wiggleState]="wiggleState"
       (mouseenter)="wiggleStart()"
       (mouseleave)="wiggleStop()"
       (@wiggleState.start)="wiggleHold()"
       (@wiggleState.done)="wiggleFlip()"
  />
  <a class="toggleMode" (click)="toggleMode()">edit</a>
  <h2>
    {{product.name}} <span *ngIf="product.variant">({{product.variant}})</span>
  </h2>

  <div>&nbsp;
    <div class="sku" *ngIf="product.sku">SKU#{{product.sku}}</div>

    <div *ngIf="product.price" class="price">{{getFormattedPrice(product)}}</div>
  </div>
  <div class="description">{{product.description}}</div>
  <div class="disclaimer">{{product.disclaimer}}</div>
</div>



