<!-- TODO: properly combine this with the add new product stuff -->
<div class="product-editor" *ngIf="product">
  <a class="toggleMode" (click)="toggleMode()">details</a>
  <div class="editor-row">

    <div class="editor-item">
      <label>id: </label>{{product.id}}
    </div>

    <div class="editor-item">
      <label>sku:</label>
      <input [(ngModel)]="product.sku" placeholder="sku" />
    </div>
  </div>
  <div class="editor-row">

    <div class="editor-item">
      <label>price:</label>
      <input [(ngModel)]="product.price" placeholder="price" />
    </div>

    <div class="editor-item">
      <label>currency:</label>
      <input [(ngModel)]="product.currency" placeholder="currency" />
    </div>

    <div class="editor-item">
      <label>availability:</label>
      <input [(ngModel)]="product.availability" placeholder="availability" />
    </div>
  </div>
  <div class="editor-row">
    <div class="editor-item">
      <label>name:</label>
      <input [(ngModel)]="product.name" placeholder="name" />
    </div>

    <div class="editor-item">
      <label>variant:</label>
      <input [(ngModel)]="product.variant" placeholder="name" />
    </div>
  </div>
  <div>
    <label>description</label>
    <textarea [(ngModel)]="product.description" placeholder="description" ></textarea>
  </div>
  <div>
    <label>disclaimer</label>
    <textarea [(ngModel)]="product.disclaimer" placeholder="disclaimer" ></textarea>
  </div>
</div>
<button (click)="goBack()">Back</button>   <button (click)="save()">Save</button>
