.product-details, .product-editor {
  border: solid black 2px;
  width: 50%;
  padding: 20px;
}
.product-details, .product-editor,
.product-details .description{
  margin-top: 10px;
}
.product-details .disclaimer {
  font-size: 50%;
  margin-top: 10px;
}
.product-details .sku {
  font-style: italic;
  float: left;
}
.product-details .price {
  font-style: italic;
  float: right;
}
.product-editor .toggleMode, .product-details .toggleMode {
  float: right;
  cursor: pointer;
  color: navy;
}
.product-editor textarea {
  width: 80%;
  height:80px;
}
.product-editor label {
  font-size: 80%;
  width: 20px;
  display: block;
}

.editor-item {
  display: inline-block;
  margin-bottom: 5px;
  min-width: 25px;
}
