.boxSpinny {
  margin: 20px auto;
  background: #5FCF80;
  display: inline-block;
}
.circleSpinny {
  transform: rotate(1080deg);
  background: #9351A6;
  border-radius: 50%;
  margin: 20px auto;
  display: inline-block;
}
.spinny {
  transition: all 1s ease-in-out;
  text-align: center;
  padding-top: 10px;
}
